.App {
  text-align: center;
  background-color: black;
  color: white;
  font-family: 'Inter', sans-serif;
}
.container{
  padding: 16px;
}
.header-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.header-container .caption {
  font-family: Tactic Sans, sans-serif;
  font-weight: 900;
  font-style: italic;
  font-size: 32px;
  line-height: 32px;
}
.header-loader-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.info {
  display: flex;
  align-items: center;
  background-color: #0B0E12;
  border-radius: 5px;
  padding: 8px 24px;
}
.info span {
  margin-left: 8px;
}
.button span {
  margin-right: 8px;
}

.team1 {
  display: flex;
  align-items: center;
  padding-left: 16px;
}
.team2 {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 16px;
}
.team1 span{
  margin-left: 16px;
}
.team2 span{
  margin-right: 16px;
}
.button {
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  background-color: #EB0237;
  border-radius: 5px;
  padding: 8px 24px;
  margin-left: 16px;
  font-size: 18px;
}
.row{
  height: 88px;
  background-color: #0B0E12;
  padding: 4px 0;
  width: 100%;
}
.row-score{
  font-size: 20px;
}
.row-status{
  display: inline-flex;
  justify-content: center;
  background-color: #43AD28;
  padding: 4px 24px;
  border-radius: 5px;
  font-size: 12px;
  width: 45px;
  margin: 4px 0;
}
.row-status-ended{
  display: inline-flex;
  justify-content: center;
  background-color: #EB0237;
  padding: 4px 24px;
  border-radius: 5px;
  font-size: 12px;
  width: 45px;
  margin: 4px 0;
}
.match-table {
  width: 100%;
}